<!DOCTYPE html>
<html lang="en" ng-app="palmApp">
<head>
    <meta charset="UTF-8">
    <title>Home | Palm Protect</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="assets/js/app.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="icon" href="assets/images/favicon.ico">
</head>
<body ng-controller="palmAppController">
<div class="top">
    <div id="image" >
        <div class="aboutUs">
            <md-button class="md-flat" ng-href="./about.html"">About Us</md-button>
        </div>
        <img src="assets/images/LOGO2.png">
    </div>
</div>

<div class="panel" ng-if="currentPage==='start'">
    <md-content>
        <div class="inputTextbox">
            <md-input-container >
            <form name="userForm" ng-submit="searchFood(userForm)">
                <md-input-container>
                <label>Enter keyword/UPC</label>
                <input name='term' ng-model="term" >
                    <div ng-messages="userForm.term.$error" role="alert">
                        <div ng-message="validationError">
                            <p >
                                No search results were returned.
                            </p>
                        </div>
                    </div>
                </md-input-container>
                <md-button class="md-flat" type="submit">Search</md-button>

            </form>



        </div>

    </md-content>
</div>
<div class="panel2" ng-if="currentPage==='selected'">
    <md-content class="md-content2">
        <div class="happy" ng-if="!hasPalm">
            <img src="assets/images/happypalm.png">
            <div class="container_p">
                <p>PALM OIL FREE :)<br></p>
                <h2><strong>{{product_name}}</strong> | {{manufacturer_name}}</h2>
                <div class="description">
                    <p1>Your product is completely free of palm oil and is rain forest safe. Enjoy!</p1>
                </div>
                <md-button class="md-flat" ng-click="submitAnother()">Submit another..</md-button>

            </div>
        </div>
        <div class="happy" ng-if="hasPalm">
            <img src="assets/images/sadpalm.png">
            <div class="container_p">
                <p>This product contains <br>palm oil :(</p>
                <h2><strong>{{product_name}}</strong> | {{manufacturer_name}}</h2>
                <div class="description">
                    <p1>Your product contains a valuable resource that if unsuitably obtained can contribute
                    significantly to the removal of the world's rain forests. You should do further research to ensure
                    the producing company uses sustainable and ethically obtained palm oil.</p1>
                </div>

                <md-button class="md-flat" ng-click="submitAnother()">Submit another..</md-button>
            </div>
        </div>
    </md-content>
</div>

<div class="bottom">
    <div id="homeImage">
        <img src="assets/images/forest.png" class="homeImage land" ng-if="currentPage==='start'">
    </div>
</div>




</body>
</html>