/*Body*/
body {
    background-color: #F5FFFA;
    margin: auto;
    padding: 0;
}

.homeImage {
    width: 70%;
    height: auto;
    float: bottom;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
}

/*Center Logo*/
.centerLogo{
    width: 50%;
    margin: auto;
    padding: 10px;


}


img{
    height: 180px;
    display: block;
    margin: auto
}
/*Search button*/
.md-flat{
    font-family: 'Indie Flower', cursive;
    opacity: .54;
    font-size: 14px;
    margin-bottom: 30px;
}

label{
    font-family: 'Indie Flower', cursive;
}
/*Input text box*/
md-content {
    width: 50%;
    margin: auto;
    background-color: #F5FFFA;
}

md-content .inputTextbox{
    width: 50%;
    margin: auto;
}


/* Animations */
.land.ng-enter {
    transition: 1s linear all;
    bottom: -300px;
    opacity: 0.25;
}

.land.ng-enter.ng-enter-active {
    transition:1s all;
    bottom: 0;
    opacity: 1;
}
.land.ng-leave {
    transition:1s all;
    opacity: 1;
}
/*Media Queries*/

@media (max-width: 1040px) {
    md-content .inputTextbox{
        margin: 0;
    }
    md-content .md-flat{
        float: right;
    }
    md-button{
        float: right;
    }

}
.land.ng-leave.ng-leave-active {
    transition:1s linear all;
    bottom: -300px;
    opacity: 0.25;
}