/*Body*/
body {
    background-color: #F5FFFA;
    margin: auto;
    padding: 0;
}

.homeImage {
    background-image: url("../images/forest5.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    position: relative;
}

/*Center Logo*/
.centerLogo{
    width: 50%;
    margin: auto;
    padding: 10px;
}
.homeImage.ng_hide {
    animation: hideGround;
    animation-duration: 4s;
}

img{
    height: 180px;
    display: block;
    margin: auto
}
/*Search button*/
.md-flat{
    font-family: 'Indie Flower', cursive;
    opacity: .54;
    font-size: 14px;
    margin-bottom: 30px;
}

label{
    font-family: 'Indie Flower', cursive;
}
/*Input text box*/
md-content {
    width: 50%;
    margin: auto;
    background-color: #F5FFFA;
}

md-content .inputTextbox{
    width: 50%;
    margin: auto;
}


/* Animations */

@keyframes hideGround {
    from {
        transform : scale(1) translateY(-100%);
        opacity : 1;
    }
    to {
        transform : scale(1) translateY(100%);
        opacity : 0.25;
    }
}
/*Media Queries*/

@media (max-width: 1040px) {
    .inputTextbox{
        margin: 0;
    }
    .md-flat{
        float: right;
    }
    md-button{
        float: right;
    }

}